body{
    background: linear-gradient(to right,lightblue, whitesmoke);
}

h1{
font-family: 'Cedarville Cursive', cursive;
}

.imgGallery {
    position: relative;
    margin: 15px;
    width: 405px;
    height: 310px;
    float: left;
}


.galleryCard {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
    
}

.flip {
    transform: rotateY(180deg);
}

.plate {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    background: linear-gradient(to left, skyblue, rgb(65, 0, 65));
    
}

.back p{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.pressButton{
    position: absolute;
    z-index: 10;
}

.viewCounter{
    font-family: 'Cedarville Cursive', cursive;
};